body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.card {
  margin: 100px 0 0 0;
  height: 35vh;
}
.card-body {
  text-align: center;
}
.card-body img {
  height: 40px;
  width: 40px;
}
.card-body button {
  font-size: 0.666em;
  font-weight: bold;
}
.butterButton1 {
  width: 40%;
  border-radius: 8px;
  height: 46px;
  border: none;
  margin-left: 20px;
}
.butterButton2 {
  width: 40%;
  height: 46px;
  border-radius: 8px;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 10px;
  border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
